.USC_universalStickyContainer__17-d7.USC_stickyElementsWrapper__tGltN.minimize-width{
  left: auto;
}

.styles_comparisonContent__3B6no.minimize-width{
  width: auto;
}

.styles_comparisonClearLabel__1xC9o.minimize-width,
.styles_comparisonCloseIcon__1ASvb,
.minimize_img-wrap.minimize-width,
.maximize_img-wrap.minimize-width,
.styles_comparisonActions__1eKHs.minimize-width{
  display: none;
}
.minimize_img-wrap{
  background-image: none;
}
.maximize_img-wrap{
  background-image: none;
}

@media screen and (max-width: 720px) {
  .maximize_img-wrap {
    background-image: none;
  }
  .styles_comparisonActions__1eKHs.minimize-width,
  .styles_comparisonClearList__2OLr1.minimize-width
  {
    display: none;
  }
}