.main>section:first-child:not(.slider):not(.slider-new){
	margin-top: 0
}
.main .uxd-441-section-tabs{
  padding: 0;
  width: 100%;
  margin: 0 auto;
  display: block;
}

.tabs-container {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 1190px;
  margin: 0 auto;
  display: flex;

}
.tabs-container>div{
	display: inline-block;
}
.tabs-container .uxd-441-category-item__head{
  height: 50px;
  /*width: 100%;*/
  cursor: pointer;
  padding: 4px 10px;
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #e7e6e6;
  line-height: 40px;
  text-align: center;
  box-sizing: border-box;
  margin: 5px 5px 0 5px;
  margin-left: 0; 
}
.tabs-container .uxd-441-category-item__head:hover{
	color: #3dcd58;
}
.section-tabs .uxd-441-category-item__heading{
	font-weight: 400;
  color: rgb(98,100,105);
}
.uxd-441-category-item__head.active{
  background-color: #fafafa;
  color: #3dcd58;
  border-bottom: 2px solid #3dcd58;
  border-top: none;
}
.uxd-441-hidden{
 display: none;
}